{{>project-nav}}
<div class="body-wrapper">
{{#each projects}}
<div class="grid">
  <div class="grid-cell-md" id="project-name">
    <h1 class="uppercase-text bottom-margin">{{name}}</h1>
    <hr class="divider bottom-margin">
    <div class="bottom-margin">
      <h3 class="centered-text important">{{description}}</h3>
    </div>
    <div class="important indent-text">
      <p class="bottom-margin">{{info}}</p>
    </div>
    <div class="centered-text">
      <a class="standard-link important bottom-margin" href="{{giturl}}" target="_blank">
        <h3>{{name}} - Github</h3>
      </a>
      {{#if heroku}}
      <a class="standard-link important" href="{{heroku}}" target="_blank">
        <h3>{{name}} - Heroku</h3>
      </a>
      {{else}}
      {{/if}}
    </div>
  </div>
  <div class="grid-cell-md is-centered">
    <div id="hover-img" class="is-centered">
      <img id="gallery-img" src="/assets/images/{{imgpath}}">
    </div>
  </div>
</div>
{{/each}}
</div>
<div class="mobile-div">
{{>contact-form}}
</div>